{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task</h1>

    <table>
        <tbody>
            <tr>
                <th>Taskid</th>
                <td>{{ task.taskId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Workresult</th>
                <td>{{ task.workResult }}</td>
            </tr>
            <tr>
                <th>Createdts</th>
                <td>{% if task.createdTs %}{{ task.createdTs|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedts</th>
                <td>{% if task.updatedTs %}{{ task.updatedTs|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if isSupervisor %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for event in history %}
            <tr>
                <td>{{ event.ts|date('Y-m-d H:i:s') }}</td>
                <td>{{ event.userId.name }}</td>
                <td>{{ event.statusId.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('task_index') }}">Back to the list</a>
        </li>
        {% if task.performer == user or task.performer == null %}
        <li>
            <a href="{{ path('task_edit', { 'taskId': task.taskId }) }}">Edit</a>
        </li>
        {% endif %}
        {% if isSupervisor %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
